{
  "firmware_folder": "",
  "keymap_path": "",
  "main_conf_path": "",
  "left_conf_path": "",
  "right_conf_path": "",
  "td_definitions": [],
  "macro_definitions": [],
  "keyboard_name": "lalapadgen2"
}
